@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  color: #fff;

}

body {
  margin: 0;
  padding: 0;
}

.app {
  background-color: #343541;
  display: flex;

}

.side-bar {
  background-color: #202123;
  height: 100dvh;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

button {
  border: solid 0.5px rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

nav {
  border-top: solid 0.5px rgba(255, 255, 255, 0.5);

  text-align: center;
  padding-block: 10px;
}

.main {
  height: 100dvh;
  /* overflow: scroll; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.history {
  list-style-type: none;
  padding: 10px;
  margin: 10px;
  flex-grow: 1;
}

.history>li {
  cursor: pointer;
  padding: 15px 0;

}

.info {
  color: rgba(255, 255, 255, 0.5);
  font-size: 11px;
  padding: 10px;
}

.bottom-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}

.input-container {
  position: relative;
  width: 100%;
  max-width: 650px;
}

.input-container input {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 12px 15px;
  border-radius: 5px;
  font-size: 20px;
  box-shadow:
    rgba(0, 0, 0, 0.05) 0 54px 55px,
    rgba(0, 0, 0, 0.05) 0 -12px 30px,
    rgba(0, 0, 0, 0.05) 0 4px 6px,
    rgba(0, 0, 0, 0.05) 0 12px 3px,
    rgba(0, 0, 0, 0.05) 0 -3px 5px;
}

.input-container input:focus {
  outline: none;
}

#submit {
  position: absolute;
  bottom: 10px;
  right: 0;
  cursor: pointer;
  font-size: 1.5rem;
}

.feed{
  overflow: hidden;
  width: 100%;
  padding: 0;
}

.feed li{
  display: flex;
  width: 100%;
  padding: 10px;
  line-height: 20px;
  margin: 10px 0;
}

.feed li.ai{
  background-color: #444654;
}

.feed p{
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  text-align: left;

}

.feed p.role{
  min-width: 100px;
}